<module>
	<rawname>wakeup</rawname>
	<name>Wakeup</name>
	<version>1.0</version>
	<type>setup</type>
	<category>Third Party Addon</category>
	<description>Provides Wakeup call</description>
	<location>contributed_modules/release/wakeup-1.0.tgz</location>
	<info>http://aussievoip.com.au/wiki/freePBX-Features</info>
	<md5sum>d4d4c6a464cd3c7ffe16e23c6f0688d2</md5sum>
</module>
