<module>
	<rawname>wakeup</rawname>
	<name>Wakeup</name>
	<version>1.0</version>
	<type>setup</type>
	<category>Third Party Addon</category>
	<description>Provides Wakeup call</description>
	<location>release/wakeup-1.0.tgz</location>
	<info>http://aussievoip.com.au/wiki/freePBX-Features</info>
	<md5sum>6cc43a407f82acb6e2b42452fa7fb6b2</md5sum>
</module>
